<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>

        <listener class-name="api.utilities.ExtentReportManager">

        </listener>
    </listeners>


    <test verbose="2" preserve-order="true"
          name="/home/vedprakash/IdeaProjects/restassured-api-automation-framework/src/test/api/test">
        <classes>
            <class name="api.test.DDTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserbyUserName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>
            <class name="api.test.UserTests">
                <methods>
                    <include name="testPostRequest"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                    <include name="verifyDeletion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>