<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Reusable Properties -->
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileLogger"
                     fileName="${basePath}/automation.log"
                     filePattern="${basePath}/automation-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>

            <Policies>
                <!-- Roll file after 1 MB -->
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>

            <!-- Keep max 5 old log files -->
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>